.title {
    font-size: 32px;
    font-family: "Andale Mono";
}
.sub_title {
    font-size: 28px;
    font-family: "Andale Mono";
}
.eden {
    fill: #fff6e9;
    stroke: gray;
    stroke-width: 5;
}
.survivor {
    fill: #d2e7ff;
    stroke: gray;
    stroke-width: 5;
}
.young {
    fill: #dcedc1;
    stroke: gray;
    stroke-width: 1;
}
.old {
    fill: #e4dcf1;
    stroke: gray;
    stroke-width: 5;
}

#debug_alert {
    font-size: 32px;
}
