.eden {
    fill: orange;
    stroke: gray;
    stroke-width: 5;
}
.survivor {
    fill: greenyellow;
    stroke: gray;
    stroke-width: 5;
}

.old {
    fill: lightskyblue;
    stroke: gray;
    stroke-width: 5;
}
