.eden {
    fill: #fff6e9;
    stroke: gray;
    stroke-width: 5;
}
.survivor {
    fill: #d2e7ff;
    stroke: gray;
    stroke-width: 5;
}

.old {
    fill: #e4dcf1;
    stroke: gray;
    stroke-width: 5;
}
